<section id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

    {% if posts %}
        <header class="page-header">
            <h1 class="page-title">{{ __('Search Results for: %s', 'timberscores')|format('<span>' ~ function('get_search_query') ~ '</span>') }}</h1>
        </header><!-- .page-header -->

        {% for post in posts %}
             {# Run the loop for the search to output the results.
             If you want to overload this in a child theme then include a file
             called content-search.php and that will be used instead. #}
            {{ timber_get_template_part('content', 'search', { 'post': post }) }}
        {% endfor %}

        {{ function('timberscores_paging_nav') }}
    {% else %}
        {{ timber_get_template_part('content', 'none') }}
    {% endif %}

    </main><!-- #main -->
</section><!-- #primary -->

{{ sidebar }}